@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #6366f1;
    --color-primary-light: #818cf8;
    --color-accent: #22d3ee;
    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-danger: #f87171;
  }
}
